In [ ]:
from google.colab import drive 
import os
import pandas as pd
import json
import numpy as np
import re

In [ ]:
drive.mount('/content/drive')
labels_path = "/content/drive/MyDrive/AIM_Task/dialect_dataset.csv"
texts_path = "/content/drive/MyDrive/AIM_Task/requested_data.csv"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
labels_df = pd.read_csv(labels_path)
text_df = pd.read_csv(texts_path, lineterminator='\n')

In [ ]:
text_df

                         id                                               text
0       1175358310087892992   @Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1       1175416117793349632  @7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2       1175450108898565888                    @KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3       1175471073770573824         @HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4       1175496913145217024                 @hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡  Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº
...                     ...                                                ...
458192  1019484980282580992              @Al_mhbaa_7 Ù…Ø¨Ø³ÙˆØ·ÙŠÙ† Ù…Ù†Ùƒ Ø§Ù„Ù„ÙŠ Ø¨Ø§Ø³Ø·Ø§Ù†Ø§ğŸ˜…
458193  1021083283709407232       @Zzainabali @P_ameerah ÙˆØ§Ù„Ù„Ù‡ Ù…Ø§ÙŠÙ†Ø¯Ù‡ Ø§Ø¨Ø´ ÙŠØ®ØªÙŠ
458194  1017477537889431552  @Al_mhbaa_7 Ø´Ùˆ Ø¹Ù…Ù„Ù†Ø§ Ù„Ùƒ Ø­Ù†Ø§ ØªÙ‡Ø±Ø¨ÙŠ Ù…Ù†Ù†Ø§ Ø§Ø­Ù†Ø§ Ù…Ø³...
458195  1022430374696239232        @haneenalmwla Ø§Ù„Ù„Ù‡ ÙŠØ¨Ø§Ø±Ùƒ ÙÙŠÙ‡Ø§ ÙˆØ¨Ø§Ù„Ø¹Ø§ÙÙŠÙ‡ ğŸ˜‹ğŸ˜‹ğŸ˜‹
458196  1022409931029458944          @jolnar121 Ø§Ù„Ø³Ø­Ù„Ù‡ Ø¶ÙŠÙÙŠ ÙŠ Ø¨ØªØ·Ù„Ø¹ Ù„Ùƒ Ø³Ø­Ù„ÙŠÙ‡ğŸ˜…ğŸ˜…

[458197 rows x 2 columns]

In [ ]:
labels_df

                         id dialect
0       1175358310087892992      IQ
1       1175416117793349632      IQ
2       1175450108898565888      IQ
3       1175471073770573824      IQ
4       1175496913145217024      IQ
...                     ...     ...
458192  1019484980282580992      BH
458193  1021083283709407232      BH
458194  1017477537889431552      BH
458195  1022430374696239232      BH
458196  1022409931029458944      BH

[458197 rows x 2 columns]

In [ ]:
#Joining tweets dataframe with classes dataframe
df = labels_df.join(text_df.set_index('id'), on='id')

In [ ]:
df

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2,1175450108898565888,IQ,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3,1175471073770573824,IQ,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4,1175496913145217024,IQ,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº
...,...,...,...
458192,1019484980282580992,BH,@Al_mhbaa_7 Ù…Ø¨Ø³ÙˆØ·ÙŠÙ† Ù…Ù†Ùƒ Ø§Ù„Ù„ÙŠ Ø¨Ø§Ø³Ø·Ø§Ù†Ø§ğŸ˜…
458193,1021083283709407232,BH,@Zzainabali @P_ameerah ÙˆØ§Ù„Ù„Ù‡ Ù…Ø§ÙŠÙ†Ø¯Ù‡ Ø§Ø¨Ø´ ÙŠØ®ØªÙŠ
458194,1017477537889431552,BH,@Al_mhbaa_7 Ø´Ùˆ Ø¹Ù…Ù„Ù†Ø§ Ù„Ùƒ Ø­Ù†Ø§ ØªÙ‡Ø±Ø¨ÙŠ Ù…Ù†Ù†Ø§ Ø§Ø­Ù†Ø§ Ù…Ø³...
458195,1022430374696239232,BH,@haneenalmwla Ø§Ù„Ù„Ù‡ ÙŠØ¨Ø§Ø±Ùƒ ÙÙŠÙ‡Ø§ ÙˆØ¨Ø§Ù„Ø¹Ø§ÙÙŠÙ‡ ğŸ˜‹ğŸ˜‹ğŸ˜‹
458196,1022409931029458944,BH,@jolnar121 Ø§Ù„Ø³Ø­Ù„Ù‡ Ø¶ÙŠÙÙŠ ÙŠ Ø¨ØªØ·Ù„Ø¹ Ù„Ùƒ Ø³Ø­Ù„ÙŠÙ‡ğŸ˜…ğŸ˜…

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       458197 non-null  int64
 1   dialect  458197 non-null  object
 2   text     458197 non-null  object
dtypes: int64(1), object(2)
memory usage: 10.5+ MB

In [ ]:
df_copy = df.copy()

In [ ]:
#Dropping ID column
df_copy = df_copy.drop('id', axis=1)

In [ ]:
#Shuffeling data
df_copy = df_copy.sample(frac=1).reset_index(drop=True)

In [ ]:
df_copy

       dialect                                               text
0           SA  Ø§Ù„Ù„ÙŠ Ø­Ø§Ø¨ÙŠÙ† ÙŠØ´Ø§Ø±ÙƒÙˆÙ† Ø¨Ø§Ù„Ù…Ø³Ø§Ø¨Ù‚Ø© â™¥ï¸â™¥ï¸â™¥ï¸ https://t....
1           SA  Ù‡Ù„ ØªØ¹Ù„Ù… : Ø£Ù†Ùƒ ØªØ´Ø§Ù‡Ø¯ Ø®Ø´Ù…Ùƒ Ø·ÙˆØ§Ù„ Ø§Ù„ÙˆÙ‚Øª Ù„ÙƒÙ† Ø¹Ù‚Ù„Ùƒ Øª...
2           LB  #Ø´Ùˆ_Ø±Ø­_ÙŠÙ‚ÙˆÙ„_Ø§Ù„Ø­Ø±ÙŠØ±ÙŠ Ø¨Ø¯ÙŠ niÙƒ Ù‚Ù„Ø¨Ùˆ Ù„Ø³Ù…ÙŠØ± Ø¬Ø¬Ø¹Ø¬ Ø¨Ø³...
3           QA  @ALASQAH10 @Ol1raF ØµØ­  ØµØ­ Ø§Ø°ÙƒØ± ÙƒØ§Ù†Ùˆ ÙŠØ¹Ø¨ÙˆÙ† Ù„Ù†Ø§ ...
4           AE  @Qatar_dary @a18022 @Msh3lu Ø§Ø³Ø§Ø³Ø§Ù‹ Ù…Ø§Ø¹Ù†Ø¯Ø¬ Ø§Ù„Ù‚Ø¯...
...        ...                                                ...
458192      QA  Ø§Ù„Ù„ÙŠ ÙŠØ­Ø· Ø¯Ø¹Ø§ÙŠØ§Øª ÙÙŠ Ø§ØºØ§Ù†ÙŠ Ø§Ù„ÙŠÙ‡Ø§Ù„ Ù ÙŠÙˆØªÙŠÙˆØ¨ ğŸ™‚ Ø§Ù„Ù„...
458193      EG               @Moelnagar11 Ù‚Ø±Ù ØŸ Ø¯Ù‰ Ù…Ù„Ø¨Ù† Ø¨Ø§Ù„Ù…ÙƒØ³Ø±Ø§Øª
458194      SA  #Ø­Ù†ÙŠØªÙˆ_Ù„Ø´ØªØ§Ø¡\n\nØ§ÙŠÙŠÙŠÙŠÙ‡ Ø§Ù„Ù„Ù‡ ÙŠØ¹ÙŠÙ† Ø§Ù†Ø¯ÙÙ†Ø§ Ù…Ù† Ø§Ù„Øº...
458195      QA  @d_altamimi90 @RAAN606 @reemalmarri10 Ø¨ØªÙ†ØªØ¸Ø± Ùƒ...
458196      OM  @nssaem1987 @ahmed_kindi Ø§Ù„Ù„ÙŠ Ù…Ø¹Ù†Ø§ Ù…Ù„ÙˆØ¹ØªØ¨ÙŠ Ø®Ø§Øµ...

[458197 rows x 2 columns]

In [ ]:
def clean_text(text):
    #Remove English characters and numbers
    clean_eng_chars = re.compile(r'[a-zA-Z]+|[0-9]')
    text = re.sub(clean_eng_chars, '', text)
    
    #Remove underscore
    tashkil_underscore = re.compile(r'[\u0617-\u061A\u064B-\u0652]|_')
    text = re.sub(tashkil_underscore, ' ', text)

    #Remove longation
    p_longation = re.compile(r'(.)\1+')
    subst = r"\1\1"
    text = re.sub(p_longation, subst, text)
    text = text.replace('ÙˆÙˆ', 'Ùˆ')
    text = text.replace('ÙŠÙŠ', 'ÙŠ')
    text = text.replace('Ø§Ø§', 'Ø§')
    return text

In [ ]:
#Remove Punctuation
from nltk.tokenize import RegexpTokenizer
def removePunctuation(text):
    tokenizer = RegexpTokenizer(r'\w+')
    new_text = " ".join(tokenizer.tokenize(text))
    return clean_text(new_text)

In [ ]:
df_copy['text'] = df_copy['text'].apply(removePunctuation)

In [ ]:
df_copy['dialect'].unique()

array(['SA', 'LB', 'QA', 'AE', 'SY', 'YE', 'BH', 'DZ', 'OM', 'EG', 'KW',
       'IQ', 'SD', 'JO', 'PL', 'LY', 'TN', 'MA'], dtype=object)

In [ ]:
#Converting Classes names to numbers
dict = {'TN':0, 'YE':1, 'MA':2, 'SD':3, 'IQ':4, 'DZ':5, 'SY':6, 'OM':7,
        'BH':8, 'AE':9, 'SA':10, 'LB':11, 'JO':12, 'QA':13, 'LY':14, 'KW':15, 'PL':16, 'EG':17}

df_copy['dialect'] = df_copy['dialect'].map(dict)

In [ ]:
df_copy['dialect'].unique()

array([10, 11, 13,  9,  6,  1,  8,  5,  7, 17, 15,  4,  3, 12, 16, 14,  0,
        2])

In [ ]:
df_copy

        dialect                                               text
0            10                     Ø§Ù„Ù„ÙŠ Ø­Ø§Ø¨ÙŠÙ† ÙŠØ´Ø§Ø±ÙƒÙˆÙ† Ø¨Ø§Ù„Ù…Ø³Ø§Ø¨Ù‚Ø©
1            10  Ù‡Ù„ ØªØ¹Ù„Ù… Ø£Ù†Ùƒ ØªØ´Ø§Ù‡Ø¯ Ø®Ø´Ù…Ùƒ Ø·ÙˆØ§Ù„ Ø§Ù„ÙˆÙ‚Øª Ù„ÙƒÙ† Ø¹Ù‚Ù„Ùƒ ØªØ¨Ø±...
2            11   Ø´Ùˆ Ø±Ø­ ÙŠÙ‚ÙˆÙ„ Ø§Ù„Ø­Ø±ÙŠØ±ÙŠ Ø¨Ø¯ÙŠ Ùƒ Ù‚Ù„Ø¨Ùˆ Ù„Ø³Ù…ÙŠØ± Ø¬Ø¬Ø¹Ø¬ Ø¨Ø³ Ø§Ø±Ø¬Ø¹
3            13              ØµØ­ ØµØ­ Ø§Ø°ÙƒØ± ÙƒØ§Ù†Ùˆ ÙŠØ¹Ø¨ÙˆÙ† Ù„Ù†Ø§ Ø¨ØªØ±ÙˆÙ„ Ø¨Ø¨Ù„Ø§Ø´
4             9    Ø§Ø³Ø§Ø³Ø§ Ù…Ø§Ø¹Ù†Ø¯Ø¬ Ø§Ù„Ù‚Ø¯Ø±Ù‡ Ø¹Ù„Ù‰ Ø§Ù„Ø±Ø¯ Ø«Ø§Ù†ÙŠØ§ Ø´Ùˆ Ø§Ù†Ø¬Ø§Ø²Ø§...
...         ...                                                ...
458192       13  Ø§Ù„Ù„ÙŠ ÙŠØ­Ø· Ø¯Ø¹Ø§ÙŠØ§Øª ÙÙŠ Ø§ØºØ§Ù†ÙŠ Ø§Ù„ÙŠÙ‡Ø§Ù„ Ù ÙŠÙˆØªÙŠÙˆØ¨ Ø§Ù„Ù„Ù‡ ...
458193       17                              Ù‚Ø±Ù Ø¯Ù‰ Ù…Ù„Ø¨Ù† Ø¨Ø§Ù„Ù…ÙƒØ³Ø±Ø§Øª
458194       10  Ø­Ù†ÙŠØªÙˆ Ù„Ø´ØªØ§Ø¡ Ø§ÙŠÙ‡ Ø§Ù„Ù„Ù‡ ÙŠØ¹ÙŠÙ† Ø§Ù†Ø¯ÙÙ†Ø§ Ù…Ù† Ø§Ù„ØºØ¨Ø§Ø± Ùˆ Ø³...
458195       13    Ø¨ØªÙ†ØªØ¸Ø± ÙƒØ«ÙŠØ± Ù„Ø§Ù†Ù‡Ù… Ù…Ø§Ù‡Ù… Ø¨ÙƒÙÙˆ ÙŠØ³ÙˆÙ†Ù‡Ø§ Ø§Ù„Ø³Ø¹Ø§ÙŠØ¯Ù‡ ...
458196        7                     Ø§Ù„Ù„ÙŠ Ù…Ø¹Ù†Ø§ Ù…Ù„ÙˆØ¹ØªØ¨ÙŠ Ø®Ø§ØµÙ‡ Ø§Ù„Ø¹ØµØ§Ø±Ø©

[458197 rows x 2 columns]

In [ ]:
df_copy.to_csv('/content/drive/MyDrive/AIM_Task/preprocessed_data.csv', index=False)