In [ ]:
from google.colab import drive 
import os
import pandas as pd
import json
import numpy as np
import re

In [ ]:
drive.mount('/content/drive')
labels_path = "/content/drive/MyDrive/AIM_Task/dialect_dataset.csv"
texts_path = "/content/drive/MyDrive/AIM_Task/requested_data.csv"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
labels_df = pd.read_csv(labels_path)
text_df = pd.read_csv(texts_path, lineterminator='\n')

In [ ]:
text_df

                         id                                               text
0       1175358310087892992   @Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1       1175416117793349632  @7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2       1175450108898565888                    @KanaanRema مبين من كلامه خليجي
3       1175471073770573824         @HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4       1175496913145217024                 @hmo2406 وين هل الغيبه  اخ محمد 🌸🌺
...                     ...                                                ...
458192  1019484980282580992              @Al_mhbaa_7 مبسوطين منك اللي باسطانا😅
458193  1021083283709407232       @Zzainabali @P_ameerah والله ماينده ابش يختي
458194  1017477537889431552  @Al_mhbaa_7 شو عملنا لك حنا تهربي مننا احنا مس...
458195  1022430374696239232        @haneenalmwla الله يبارك فيها وبالعافيه 😋😋😋
458196  1022409931029458944          @jolnar121 السحله ضيفي ي بتطلع لك سحليه😅😅

[458197 rows x 2 columns]

In [ ]:
labels_df

                         id dialect
0       1175358310087892992      IQ
1       1175416117793349632      IQ
2       1175450108898565888      IQ
3       1175471073770573824      IQ
4       1175496913145217024      IQ
...                     ...     ...
458192  1019484980282580992      BH
458193  1021083283709407232      BH
458194  1017477537889431552      BH
458195  1022430374696239232      BH
458196  1022409931029458944      BH

[458197 rows x 2 columns]

In [ ]:
#Joining tweets dataframe with classes dataframe
df = labels_df.join(text_df.set_index('id'), on='id')

In [ ]:
df

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺
...,...,...,...
458192,1019484980282580992,BH,@Al_mhbaa_7 مبسوطين منك اللي باسطانا😅
458193,1021083283709407232,BH,@Zzainabali @P_ameerah والله ماينده ابش يختي
458194,1017477537889431552,BH,@Al_mhbaa_7 شو عملنا لك حنا تهربي مننا احنا مس...
458195,1022430374696239232,BH,@haneenalmwla الله يبارك فيها وبالعافيه 😋😋😋
458196,1022409931029458944,BH,@jolnar121 السحله ضيفي ي بتطلع لك سحليه😅😅

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       458197 non-null  int64
 1   dialect  458197 non-null  object
 2   text     458197 non-null  object
dtypes: int64(1), object(2)
memory usage: 10.5+ MB

In [ ]:
df_copy = df.copy()

In [ ]:
#Dropping ID column
df_copy = df_copy.drop('id', axis=1)

In [ ]:
#Shuffeling data
df_copy = df_copy.sample(frac=1).reset_index(drop=True)

In [ ]:
df_copy

       dialect                                               text
0           SA  اللي حابين يشاركون بالمسابقة ♥️♥️♥️ https://t....
1           SA  هل تعلم : أنك تشاهد خشمك طوال الوقت لكن عقلك ت...
2           LB  #شو_رح_يقول_الحريري بدي niك قلبو لسمير ججعج بس...
3           QA  @ALASQAH10 @Ol1raF صح  صح اذكر كانو يعبون لنا ...
4           AE  @Qatar_dary @a18022 @Msh3lu اساساً ماعندج القد...
...        ...                                                ...
458192      QA  اللي يحط دعايات في اغاني اليهال ف يوتيوب 🙂 الل...
458193      EG               @Moelnagar11 قرف ؟ دى ملبن بالمكسرات
458194      SA  #حنيتو_لشتاء\n\nاييييه الله يعين اندفنا من الغ...
458195      QA  @d_altamimi90 @RAAN606 @reemalmarri10 بتنتظر ك...
458196      OM  @nssaem1987 @ahmed_kindi اللي معنا ملوعتبي خاص...

[458197 rows x 2 columns]

In [ ]:
def clean_text(text):
    #Remove English characters and numbers
    clean_eng_chars = re.compile(r'[a-zA-Z]+|[0-9]')
    text = re.sub(clean_eng_chars, '', text)
    
    #Remove underscore
    tashkil_underscore = re.compile(r'[\u0617-\u061A\u064B-\u0652]|_')
    text = re.sub(tashkil_underscore, ' ', text)

    #Remove longation
    p_longation = re.compile(r'(.)\1+')
    subst = r"\1\1"
    text = re.sub(p_longation, subst, text)
    text = text.replace('وو', 'و')
    text = text.replace('يي', 'ي')
    text = text.replace('اا', 'ا')
    return text

In [ ]:
#Remove Punctuation
from nltk.tokenize import RegexpTokenizer
def removePunctuation(text):
    tokenizer = RegexpTokenizer(r'\w+')
    new_text = " ".join(tokenizer.tokenize(text))
    return clean_text(new_text)

In [ ]:
df_copy['text'] = df_copy['text'].apply(removePunctuation)

In [ ]:
df_copy['dialect'].unique()

array(['SA', 'LB', 'QA', 'AE', 'SY', 'YE', 'BH', 'DZ', 'OM', 'EG', 'KW',
       'IQ', 'SD', 'JO', 'PL', 'LY', 'TN', 'MA'], dtype=object)

In [ ]:
#Converting Classes names to numbers
dict = {'TN':0, 'YE':1, 'MA':2, 'SD':3, 'IQ':4, 'DZ':5, 'SY':6, 'OM':7,
        'BH':8, 'AE':9, 'SA':10, 'LB':11, 'JO':12, 'QA':13, 'LY':14, 'KW':15, 'PL':16, 'EG':17}

df_copy['dialect'] = df_copy['dialect'].map(dict)

In [ ]:
df_copy['dialect'].unique()

array([10, 11, 13,  9,  6,  1,  8,  5,  7, 17, 15,  4,  3, 12, 16, 14,  0,
        2])

In [ ]:
df_copy

        dialect                                               text
0            10                     اللي حابين يشاركون بالمسابقة
1            10  هل تعلم أنك تشاهد خشمك طوال الوقت لكن عقلك تبر...
2            11   شو رح يقول الحريري بدي ك قلبو لسمير ججعج بس ارجع
3            13              صح صح اذكر كانو يعبون لنا بترول ببلاش
4             9    اساسا ماعندج القدره على الرد ثانيا شو انجازا...
...         ...                                                ...
458192       13  اللي يحط دعايات في اغاني اليهال ف يوتيوب الله ...
458193       17                              قرف دى ملبن بالمكسرات
458194       10  حنيتو لشتاء ايه الله يعين اندفنا من الغبار و س...
458195       13    بتنتظر كثير لانهم ماهم بكفو يسونها السعايده ...
458196        7                     اللي معنا ملوعتبي خاصه العصارة

[458197 rows x 2 columns]

In [ ]:
df_copy.to_csv('/content/drive/MyDrive/AIM_Task/preprocessed_data.csv', index=False)